<!-- <app-topbar-principal></app-topbar-principal> -->
<p-toast></p-toast>
<div class="container-fluid">
    <div class="row no-gutter">
        <!-- The image half -->
        <div class="col-md-6 d-none d-md-flex bg-image"></div>
        

        <!-- The content half -->
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">

                <!-- Demo content-->
                <div class="col-12 xl:col-6 mt-2" style="border-radius:0px; padding:0.4rem">
                    <div class="h-full w-full m-0 py-0 px-1" style="border-radius:0px; ">
                        <div class="text-center mb-0">
                            <div class="text-900 text-3xl font-medium mb-3 mt-5">Inicio Sesión</div>
                        </div>
        
                        <div class="w-full md:w-10 mx-auto">
                            <form [formGroup]="formUsuario" (ngSubmit)="login()">
                                <div class="col-12">
                                    <div class="card p-fluid">
                                        <div class="field">
                                            <label htmlFor="email">Username</label>
                                            <input pInputText
                                                    id="name1"
                                                    type="text"
                                                    [ngClass]="{'ng-invalid ng-dirty': usernameNoValido}"
                                                    formControlName="username"  />
        
                                            <span *ngIf="usernameNoValido && this.formUsuario.get('username')?.errors?.['required']">
                                                <p class="text-red-600">(El username no puede quedar vacío)</p>
                                            </span>
        
                                        </div>
                                        <div class="field">
                                            <label htmlFor="password">Password</label>
                                            <p-password
                                                formControlName="password"
                                                [ngClass]="{'ng-invalid ng-dirty': passwordNoValido}"
                                                [toggleMask]="true">
                                            </p-password>
        
                                            <span *ngIf="usernameNoValido && this.formUsuario.get('password')?.errors?.['required']">
                                                <p class="text-red-600">(El password no puede quedar vacío)</p>
                                            </span>
        
                                        </div>
                                    </div>
        
                                </div>
                                <button pButton pRipple label="Iniciar Sesión" class="w-full p-3 text-xl" [disabled]="load">
                                    <i class="pi pi-spin pi-spinner" style="font-size: 2rem" *ngIf="load"></i>
                                </button>
                            </form>
        
                        </div>
                    </div>
                </div><!-- End -->

            </div>
        </div><!-- End -->

    </div>
</div>