<div class="table-header">
    <div class="grid">
        <div class="col-12">
            <h3 class="mt-1"><b>{{modeForm}}</b></h3>
        </div>
    </div>
</div>
<form [formGroup]="formStudent" (ngSubmit)="submitStudent()">

	<div class="col-12">
		<div class="card">
			<div class="p-fluid p-formgrid grid">


                <div class="field col-6">
					<label htmlFor="name">
                        <span class="text-red-600">*</span>
                        Nombres
                    </label>
					<input
                        pInputText
                        id="name"
                        (keypress)="validarLetras($event)"
                        [ngClass]="{'ng-invalid ng-dirty': nameNotValid}"
                        formControlName="name"
                        type="text" />
                    <span *ngIf="nameNotValid && formStudent.get('name')?.errors?.['required']">
                        <p class="text-red-600">*Campo Requerido</p>
                    </span>
                    <div *ngIf="nameNotValid && formStudent.get('name')?.errors?.['maxlength']">
                        <p class="text-red-600">*Debe tener como máximo 100 caracteres</p>
                    </div>
				</div>
				<div class="field col-6">
					<label htmlFor="last_name">
                        <span class="text-red-600">*</span>
                        Apellidos
                    </label>
					<input
                        pInputText
                        id="last_name"
                        [ngClass]="{'ng-invalid ng-dirty': lastNameNotValid}"
                        (keypress)="validarLetras($event)"
                        formControlName="last_name"
                        type="text" />
                    <span *ngIf="lastNameNotValid && formStudent.get('last_name')?.errors?.['required']">
                        <p class="text-red-600">*Campo Requerido</p>
                    </span>
                    <div *ngIf="lastNameNotValid && formStudent.get('last_name')?.errors?.['maxlength']">
                        <p class="text-red-600">*Debe tener como máximo 100 caracteres</p>
                    </div>
				</div>



				<div class="field col-12 md:col-6">
					<label htmlFor="identification">
                        <span class="text-red-600">*</span>
                        Cédula
                    </label>
					<input
                        pInputText
                        id="identification"
                        [readOnly]="identificationDisable"
                        [ngClass]="{'ng-invalid ng-dirty': identificationNotValid}"
                        onkeypress='return event.charCode >= 48 && event.charCode <= 57' 
                        minlength="10" 
                        maxlength="10"
                        formControlName="identification"
                        type="text" />
                        <span *ngIf="identificationNotValid && formStudent.get('identification')?.errors?.['required']">
                            <p class="text-red-600">*Campo Requerido</p>
                        </span>
                        <span *ngIf="identificationNotValid && this.formStudent.get('identification')?.errors?.['validarCedula']">
                            <p class="text-red-600">{{this.formStudent.get('identification')?.errors?.['validarCedula']['mensaje'] }}</p>
                        </span>
                        <div *ngIf="nameNotValid && formStudent.get('identification')?.errors?.['maxlength']">
                            <p class="text-red-600">*Debe tener como máximo 10 caracteres</p>
                        </div>
				</div>
                <div class="field col-12 md:col-6">
					<label htmlFor="cell_phone">
                        <span class="text-red-600">*</span>
                        Celular
                    </label>
					<input
                        pInputText
                        min="0"
                        id="cell_phone"
                        [ngClass]="{'ng-invalid ng-dirty': cellPhoneNotValid}"
                        (keypress)="validateNumeros($event)"
                        minlength="10" maxlength="10"
                        formControlName="cell_phone"
                        type="text" />
                        <span *ngIf="cellPhoneNotValid && formStudent.get('cell_phone')?.errors?.['required']">
                            <p class="text-red-600">*Campo Requerido</p>
                        </span>
                        <div *ngIf="nameNotValid && formStudent.get('cell_phone')?.errors?.['maxlength']">
                            <p class="text-red-600">*Debe tener como máximo 10 números</p>
                        </div>
				</div>

                <div class="field col-12 md:col-6">
					<label htmlFor="address">
                        <span class="text-red-600">*</span>
                        Dirección
                    </label>
					<input
                        pInputText
                        min="0"
                        id="address"
                        [ngClass]="{'ng-invalid ng-dirty': AddressNotValid}"
                        formControlName="address"
                        type="text" />
                        <span *ngIf="AddressNotValid && formStudent.get('address')?.errors?.['required']">
                            <p class="text-red-600">*Campo Requerido</p>
                        </span>
				</div>
                <div class="field col-6">
					<label htmlFor="email">
                        <span class="text-red-600">*</span>
                        Email
                    </label>
					<input
                        pInputText
                        id="email"
                        [ngClass]="{'ng-invalid ng-dirty': emailNotValid}"
                        formControlName="email"
                        type="email" />
                    <span *ngIf="emailNotValid && formStudent.get('email')?.errors?.['required']">
                        <p class="text-red-600">*Campo Requerido</p>
                    </span>
                    <div *ngIf="emailNotValid && formStudent.get('email')?.errors?.['maxlength']">
                        <p class="text-red-600">*Debe tener como máximo 100 caracteres</p>
                    </div>
				</div>
                <div class="field col-6">
                    <label htmlFor="activo">
                        <span class="text-red-600">*</span>
                            Esta Activo
                        <p-inputSwitch
                            (onChange)="handleActivo($event)"
                            formControlName="is_active" >
                        </p-inputSwitch>
                    </label>

                </div>
			</div>
		</div>
        <div class="grid flex flex-row-reverse ">
            <div class="grid">
                <div class="col">
                    <button type="button"
                    pButton icon="pi pi-times"
                    label="Cerrar" class="p-button-raised p-button-danger"
                    [routerLink]="['/admin/student']"></button>
                </div>
                <div class="col">
                    <button type="Submit"   pButton icon="pi pi-check"label="Guardar" class="mr-2" ></button>
                </div>
            </div>
        </div>
	</div>
</form>
