
<div class="card ui-fluid">
    <p-table
        #dt
        [value]="listCohorte"
        [(selection)]="selectedCohorte"
        dataKey="id"
        styleClass="p-datatable-customers"
        [rowHover]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10,25,50]"
        [loading]="loading"
        responsiveLayout="stack"
        [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [filterDelay]="0"
        [globalFilterFields]="['course.name', 'name', 'date_init','date_end','cost_effective','cost_credit','course']">
        
        <ng-template pTemplate="caption">

        <div class="table-header">
            <div class="grid">
                <div class="col">
                    <p-button label="Nuevo" icon="pi pi-plus" [routerLink]="['/admin/cohorte/create']"></p-button>
                </div>
                <div class="col">
                    <h3 class="mt-1"><b>Cohortes</b></h3>
                </div>
                <div class="col">
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input
                            pInputText
                            type="text"
                            (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                            placeholder="Buscar por nombre" />
                    </span>
                </div>
            </div>
        </div>
        </ng-template>

        <ng-template pTemplate="header" let-columns>
            <tr >
                <th style="width:2%; text-align: center;">#</th>
                <th pSortableColumn="name" style="width:27%; text-align: left;"> Curso -Cohorte
                    <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th pSortableColumn="date_init" style="width:20%; text-align: center;"> F_Inicio
                    <p-sortIcon field="date_init"></p-sortIcon>     
                </th>
                <th pSortableColumn="date_end" style="width:20%; text-align: center;">F_Fin
                    <p-sortIcon field="date_end"></p-sortIcon>
                </th>
                <th pSortableColumn="cost_effective" style="width:30%; text-align: center;">USD-Efectivo
                    <p-sortIcon field="cost_effective"></p-sortIcon>
                </th>
                <th pSortableColumn="cost_effective" style="width:30%; text-align: center;">USD-Credito
                    <p-sortIcon field="cost_effective"></p-sortIcon>
                </th>
                <th class="col-2 p-5" style="width:10%; text-align: center; ">Acciones</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-cohorte let-rowIndex="rowIndex">
            <tr >
                <td >
                    {{rowIndex+1}}
                </td>
                <td >
                    <span >{{cohorte.course.name +" " + cohorte.name}}</span>
                </td>
                <td  style=" text-align: center;" >
                    <p>{{cohorte.date_init}}</p>
                </td>
                <td  style=" text-align: center;">
                    <p>{{cohorte.date_end}}</p>
                </td>
                <td  style=" text-align: center;">
                    <p>{{cohorte.cost_effective}}</p>
                </td>
                <td  style=" text-align: center;">
                    <p>{{cohorte.cost_credit}}</p>
                </td>
                
                <td style="min-width:5rem; text-align: center;">
                    <div>
                        <button
                            pButton
                            type="button"
                            icon="pi pi-pencil"
                            [routerLink]="['/admin/cohorte/edit',cohorte.id]"
                            class="p-button-raised p-button-rounded mr-2">
                        </button>
                        <button
                            pButton
                            type="button"
                            icon="pi pi-trash"
                            (click)="btnDeleteCohorte(cohorte)"
                            class="p-button-danger p-button-rounded ">
                        </button>
                    </div>
                
                
                </td>
            </tr>
        </ng-template>
       
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8">No existen resultados.</td>
            </tr>
        </ng-template>
    </p-table>

</div>
