<div class="table-header">
    <div class="grid">
        <div class="col-12">
            <h3 class="mt-1"><b>{{modeForm}}</b></h3>
        </div>
    </div>
</div>

<p-toast></p-toast>


<div class="grid">

    <div class="col-12 md:col-12 lg:col-12 pt-0">


        <p-button  label="Agregar estudiante" icon="pi pi-plus" (click)="showDialog() "></p-button>

        <span *ngIf="studentSelectedForViewData?'':'Seleccione el estudiante'" class="text-red-600 ml-2">Seleccione el estudiante</span>


        <p-dialog header="" [(visible)]="display">
            <p-table
            #dt
            [value]="modelStudentFull"
            [(selection)]="selectedStudent"
            dataKey="id"
            styleClass="p-datatable-customers"
            [rowHover]="true"
            [rows]="10"
            [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[10,25,50]"
            [loading]="loading"
            responsiveLayout="scroll"
            [paginator]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [filterDelay]="0"
            [globalFilterFields]="['id','nombre', 'apellido', 'cedula', 'celular']">
            <ng-template pTemplate="caption">

            <div class="table-header">
                <div class="grid">
                    <div class="col-6">
                        <h3 class="mt-4"><b>Seleccionar Estudiante</b></h3>
                    </div>

                    <div class="col-6">
                        <div class="col-12 text-right">

                            <div class="grid align-items-center">
                                <div class="col-4 md:col-6 lg:col-4">Buscar</div>
                                <div class="col-8 md:col-6 lg:col-6 ">
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input
                                            pInputText
                                            type="text"
                                            (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                                            placeholder="Buscar por nombre" />
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="id">
                        <div class="flex justify-content-between align-items-center">
                            #
                            <p-sortIcon field="id"></p-sortIcon>
                        </div>
                    </th>
                    <th pSortableColumn="nombre">
                        <div class="flex justify-content-between align-items-center">
                            Nombre
                            <p-sortIcon field="nombre"></p-sortIcon>
                        </div>
                    </th>

                    <th pSortableColumn="apellido">
                        <div class="flex justify-content-between align-items-center">
                            Apellido
                            <p-sortIcon field="apellido"></p-sortIcon>
                        </div>
                    </th>

                    <th pSortableColumn="cedula">
                        <div class="flex justify-content-between align-items-center">
                            Cédula
                            <p-sortIcon field="cedula"></p-sortIcon>
                        </div>
                    </th>

                    <th pSortableColumn="celular">
                        <div class="flex justify-content-between align-items-center">
                            Celular
                            <p-sortIcon field="celular"></p-sortIcon>
                        </div>
                    </th>

                    <th pSortableColumn="canton">
                        <div class="flex justify-content-between align-items-center">
                            Dirección
                            <p-sortIcon field="canton"></p-sortIcon>
                        </div>
                    </th>

                    <th>
                        <div class="flex justify-content-between align-items-center">
                            Acciones

                        </div>
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-productor let-rowIndex="rowIndex">
                <tr class="p-selectable-row">
                    <td>
                        <span class="p-column-title">ID</span>
                        {{rowIndex+1}}
                    </td>
                    <td>
                        <span class="p-column-title">Nombre</span>
                        {{productor.name}}
                    </td>

                    <td>
                        <span class="p-column-title">Apellido</span>
                        {{productor.last_name}}
                    </td>
                    <td>
                        <span class="p-column-title">Cédula</span>
                        <span class="image-text">{{productor.identification}}</span>
                    </td>

                    <td>
                        <span class="p-column-title">Celular</span>
                        <span class="image-text">{{productor.cell_phone}}</span>
                    </td>

                    <td>
                        <span class="p-column-title">Dirección</span>
                        <span class="image-text">{{productor.address}}</span>
                    </td>

                    <td>
                        <span class="p-column-title">Acciones</span>
                        <div class="text-center pr-8">

                            <abbr title="Añadir productor">
                                <i class="pi pi-plus pl-3" (click)="btnSeleccionarStudent(productor)"> Añadir</i>
                            </abbr>


                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8">No customers found.</td>
                </tr>
            </ng-template>
        </p-table>
        </p-dialog>


        <div *ngIf="selectedStudent">

            <div class="col-12 md:col-12" >
                <div class="card p-fluid">
                    <div class="grid">
                            <div class="col-6 md:col-6 lg:col-6">
                                <div class="field">
                                    <label htmlFor="name"><b>Nombres</b></label>
                                    <br>
                                    <label htmlFor="name">{{selectedStudent.name +' '+ selectedStudent.last_name}}</label>
                                </div>
                            </div>
                            <div class="col-6 md:col-6 lg:col-6">
                                <div class="field">
                                    <label htmlFor="name"><b>Identificación</b></label>
                                    <br>
                                    <label htmlFor="name">{{selectedStudent.identification}}</label>
                                </div>
                            </div>
                    </div>


                </div>
            </div>
        </div>

    </div>

    <div class="col-12 md:col-12 lg:col-12">
        <p-button  label="Agregar Cohorte" icon="pi pi-plus" (click)="showDialogCohorte() "></p-button>

        <span *ngIf="cohorteSelectedForViewData?'':'Seleccione el cohorte'" class="text-red-600 ml-2">Seleccione el cohorte</span>


        <p-dialog header="" [(visible)]="displayCohorte">
            <p-table
            #dtCohorte
            [value]="modelCohorteFull"
            [(selection)]="selectedCohorte"
            dataKey="id"
            styleClass="p-datatable-customers"
            [rowHover]="true"
            [rows]="10"
            [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[10,25,50]"
            [loading]="loadingCohorte"
            responsiveLayout="scroll"
            [paginator]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [filterDelay]="0"
            [globalFilterFields]="['id','name', 'date_init', 'date_end', 'cost_effective', 'cost_credit']">
            <ng-template pTemplate="caption">

            <div class="table-header">
                <div class="grid">
                    <div class="col-6">
                        <h3 class="mt-4"><b>Seleccionar Cohorte</b></h3>
                    </div>

                    <div class="col-6">
                        <div class="col-12 text-right">

                            <div class="grid align-items-center">
                                <div class="col-4 md:col-6 lg:col-6">Buscar</div>
                                <div class="col-8 md:col-6 lg:col-6 ">
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input
                                            pInputText
                                            type="text"
                                            (input)="dtCohorte.filterGlobal($any($event.target).value, 'contains')"
                                            placeholder="Buscar por nombre" />
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="id">
                        <div class="flex justify-content-between align-items-center">
                            #
                            <p-sortIcon field="id"></p-sortIcon>
                        </div>
                    </th>
                    <th pSortableColumn="name">
                        <div class="flex justify-content-between align-items-center">
                            Curso-Cohorte
                            <p-sortIcon field="name"></p-sortIcon>
                        </div>
                    </th>

                    <th pSortableColumn="date_init">
                        <div class="flex justify-content-between align-items-center">
                            Fecha de inicio
                            <p-sortIcon field="date_init"></p-sortIcon>
                        </div>
                    </th>

                    <th pSortableColumn="date_end">
                        <div class="flex justify-content-between align-items-center">
                            Fecha final
                            <p-sortIcon field="date_end"></p-sortIcon>
                        </div>
                    </th>

                    <th pSortableColumn="cost_effective">
                        <div class="flex justify-content-between align-items-center">
                            Costo en efectivo
                            <p-sortIcon field="cost_effective"></p-sortIcon>
                        </div>
                    </th>

                    <th pSortableColumn="cost_credit">
                        <div class="flex justify-content-between align-items-center">
                            Costo en crédito
                            <p-sortIcon field="cost_credit"></p-sortIcon>
                        </div>
                    </th>

                    <th>
                        <div class="flex justify-content-between align-items-center">
                            Acciones

                        </div>
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-cohorte let-rowIndex="rowIndex">
                <tr class="p-selectable-row">
                    <td>
                        <span class="p-column-title">ID</span>
                        {{rowIndex+1}}
                    </td>
                    <td>
                        <span class="p-column-title">Nombre</span>
                        {{cohorte.course.name +" " + cohorte.name}}
                    </td>

                    <td>
                        <span class="p-column-title">Fecha de inicio</span>
                        {{cohorte.date_init}}
                    </td>
                    <td>
                        <span class="p-column-title">Fecha final</span>
                        <span class="image-text">{{cohorte.date_end}}</span>
                    </td>

                    <td>
                        <span class="p-column-title">Costo en efectivo</span>
                        <span class="image-text">{{cohorte.cost_effective}}</span>
                    </td>

                    <td>
                        <span class="p-column-title">Costo a crédito</span>
                        <span class="image-text">{{cohorte.cost_credit}}</span>
                    </td>

                    <td>
                        <span class="p-column-title">Acciones</span>
                        <div class="text-center pr-8">

                            <abbr title="Añadir cohorte">
                                <i class="pi pi-plus pl-3" (click)="btnSeleccionarCohorte(cohorte)"> Añadir</i>
                            </abbr>


                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8">No customers found.</td>
                </tr>
            </ng-template>
        </p-table>
        </p-dialog>


        <div *ngIf="selectedCohorte">

            <div class="col-12 md:col-12" >
                <div class="card p-fluid">
                    <div class="grid">
                            <div class="col-6 md:col-6 lg:col-6">
                                <div class="field">
                                    <label htmlFor="name"><b>Nombre</b></label>
                                    <br>
                                    <label htmlFor="name">{{selectedCohorte.name}}</label>
                                </div>
                            </div>
                    </div>


                    <div class="grid">
                        <div class="col-6 md:col-6 lg:col-6">
                            <div class="field">
                                <label htmlFor="name"><b>Fecha Inicio</b></label>
                                <br>
                                <label htmlFor="name">{{selectedCohorte.date_init}}</label>
                            </div>
                        </div>

                        <div class="col-6 md:col-6 lg:col-6">
                            <div class="field">
                                <label htmlFor="name"><b>Fecha Fin</b></label>
                                <br>
                                <label htmlFor="name">{{selectedCohorte.date_end}}</label>
                            </div>
                        </div>
                </div>


                <div class="grid">
                    <div class="col-6 md:col-6 lg:col-6">
                        <div class="field">
                            <label htmlFor="name"><b>Costo en Efectivo</b></label>
                            <br>
                            <label htmlFor="name">{{selectedCohorte.cost_effective}}</label>
                        </div>
                    </div>

                    <div class="col-6 md:col-6 lg:col-6">
                        <div class="field">
                            <label htmlFor="name"><b>Costo en Crédito</b></label>
                            <br>
                            <label htmlFor="name">{{selectedCohorte.cost_credit}}</label>
                        </div>
                    </div>
            </div>

                </div>
            </div>
        </div>


    </div>
</div>
















<form [formGroup]="formEnrrollement" (ngSubmit)="submitCohorte()">

	<div class="col-12">
		<div class="card">
			<div class="p-fluid p-formgrid grid">


                <div class="col-12 p-0">
                    <div class="field col-12 md:col-12">
                        <label htmlFor="canton">Tipo de Pago</label>
                        <p-dropdown id="name1" formControlName="tipe_pay_id"
                        [options]='modelTypePaysFull'
                        (onChange)="onChange($event)"
                        dataKey="value" placeholder="Seleccionar Pago"
                        optionLabel="name"  [showClear]="true"></p-dropdown>
                       <!-- <input pInputText id="name1" type="text" formControlName="latitud"  />-->


                    </div>
                    <div class="col-12 md:col-12">
                        <p><b>VALOR TOTAL A PAGAR </b> <span>USD {{valRealPayment}}</span></p>
                        <p-table [value]="arrayCuotasPaymet" [tableStyle]="{'min-width': '50rem'}">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th># Cuotas</th>
                                    <th>Fecha Limite pago</th>
                                    <th>Valor a cancelar</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-payment>
                                <tr>
                                    <td>{{payment.id}}</td>
                                    <td>{{payment.date_limit | date: 'yyyy/MM/dd'}}</td>
                                    <td>USD {{payment.amout | number : '1.2-2'}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>


				<div class="field col-12 md:col-6">
					<label htmlFor="cash">
                        <span class="text-red-600">*</span>
                        Efectivo
                    </label>
					<input
                        pInputText
                        [readOnly]="!activateFieldCash"
                        min="0"
                        id="cash"
                        [ngClass]="{'ng-invalid ng-dirty': cashNotValid}"
                        formControlName="cash"
                        type="number" />
                        <span *ngIf="cashNotValid && formEnrrollement.get('cash')?.errors?.['required']">
                            <p class="text-red-600">*Campo Requerido</p>
                        </span>
				</div>

                <div class="field col-12 md:col-6">
					<label htmlFor="cuotas">
                        <span class="text-red-600">*</span>
                        Cuotas
                    </label>
					<input
                        pInputText
                        (input)="inputCuotas($event)"
                        [readOnly]="!activateFieldCuotas"
                        id="cuotas"
                        min="1"
                        max="7"
                        [ngClass]="{'ng-invalid ng-dirty': cuotasNotValid}"
                        formControlName="cuotas"
                        type="number" />
                        <span *ngIf="cuotasNotValid && formEnrrollement.get('cuotas')?.errors?.['required']">
                            <p class="text-red-600">*Campo Requerido</p>
                        </span>
				</div>

                <div class="field col-12 md:col-6">
					<label htmlFor="day_limite">
                        <span class="text-red-600">*</span>
                        Día limite
                    </label>
					<input
                        pInputText
                        min="1"
                        max="27"
                        [readOnly]="!activeDayLimite"
                        (input)="inputLimit($event)"
                        id="day_limite"
                        [ngClass]="{'ng-invalid ng-dirty': DayLimitNotValid}"
                        formControlName="day_limite"
                        type="number" />
                        <span *ngIf="DayLimitNotValid && formEnrrollement.get('day_limite')?.errors?.['required']">
                            <p class="text-red-600">*Campo Requerido</p>
                        </span>
				</div>




                <div class="field col-12 md:col-6">
					<label htmlFor="discount">
                        <span class="text-red-600">*</span>
                        Descuento %
                    </label>
					<input
                        pInputText
                        (input)="inputDescount($event)"
                        min="0"
                        max="100"
                        id="discount"
                        [ngClass]="{'ng-invalid ng-dirty': discountNotValid}"
                        formControlName="discount"
                        type="number" />
                        <span *ngIf="discountNotValid && formEnrrollement.get('discount')?.errors?.['required']">
                            <p class="text-red-600">*Campo Requerido</p>
                        </span>
				</div>

			</div>
		</div>
        <div class="grid flex flex-row-reverse ">
            <div class="grid">
                <div class="col">
                    <button type="button"
                    pButton icon="pi pi-times"
                    label="Cerrar" class="p-button-raised p-button-danger"
                    [routerLink]="['/admin/enrollement']"></button>
                </div>
                <div class="col">
                    <button type="Submit"   pButton icon="pi pi-check"label="Guardar" class="mr-2" ></button>
                </div>
            </div>
        </div>
	</div>
</form>
