<div class="layout-footer pb-2" style="background-color: #d9eefa;">
    <img src="assets/images/logounl.png"  alt="Logo" height="60" class="mr-2"/>
    <img src="assets/images/logocis.jpg"  alt="Logo" height="60" class="mr-2"/>
    <span class="font-medium ml-2 text-black-alpha-80"> 
        Copyright © 2023 <a href="https://unl.edu.ec/" target="_blank">UNL</a>
        <span
            class="fa fa-heart text-danger">
        </span> - <a href="https://computacion.unl.edu.ec/" target="_blank"> Carrera de Ingeniería en Sistemas/Computación. </a> Todos los derechos
                    reservados
    </span>
</div>
