<div class="table-header">
    <div class="grid">
        <div class="col-12">
            <h3 class="mt-1"><b>{{modeForm}}</b></h3>
        </div>
    </div>
</div>
<form [formGroup]="formCohorte" (ngSubmit)="submitCohorte()">

	<div class="col-12">
		<div class="card">
			<div class="p-fluid p-formgrid grid">
                <div class="field col-6">
                    <label htmlFor="course">Cantón</label>
                    <p-dropdown [options]="cantones" formControlName="course_id" optionLabel="name" 
                [filter]="true" filterBy="name"
                (onChange)="onChange($event)"
                dataKey="value"
                optionLabel="name"  [showClear]="true"
                [showClear]="true" placeholder="Seleccionar Curso">
                <ng-template pTemplate="selectedItem">
                    <div class="country-item country-item-value" *ngIf="selectedCountry">
                        <div>{{selectedCountry}}</div>
                    </div>
                </ng-template>
                <ng-template let-cantones pTemplate="item">
                    <div class="country-item">
                        <div>{{cantones.name}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
                   <!-- <input pInputText id="name1" type="text" formControlName="latitud"  />-->
                   
    
                </div>



                




				<div class="field col-6">
					<label htmlFor="name">Nombre</label>
					<input
                        pInputText
                        id="name"
                        [ngClass]="{'ng-invalid ng-dirty': nameNotValid}"
                        formControlName="name"
                        type="text" />
				</div>
				<div class="field col-12 md:col-6">
					<label htmlFor="date_init">Fecha Inicio</label>
					<input
                        pInputText
                        id="date_init"
                        [ngClass]="{'ng-invalid ng-dirty': dateInitNotValid}"
                        formControlName="date_init"
                        type="date" />
				</div>
                <div class="field col-12 md:col-6">
					<label htmlFor="date_end">Fecha Fin</label>
					<input
                        pInputText
                        id="date_end"
                        [ngClass]="{'ng-invalid ng-dirty': dateEndNotValid}"
                        formControlName="date_end"
                        type="date" />
				</div>
				<div class="field col-12 md:col-6">
					<label htmlFor="cost_effective">Costo a Credito</label>
					<input
                        pInputText
                        id="cost_effective"
                        min="0"
                        [ngClass]="{'ng-invalid ng-dirty': costEffectiveNotValid}"
                        formControlName="cost_effective"
                        type="number" />
				</div>
                <div class="field col-12 md:col-6">
					<label htmlFor="cost_credit">Costo a Efectivo</label>
					<input
                        pInputText
                        min="0"
                        id="cost_credit"
                        [ngClass]="{'ng-invalid ng-dirty': costCreditNotValid}"
                        formControlName="cost_credit"
                        type="number" />
				</div>
			</div>
		</div>
        <div class="grid flex flex-row-reverse ">
            <div class="grid">
                <div class="col">
                    <button type="button"
                    pButton icon="pi pi-times"
                    label="Cerrar" class="p-button-raised p-button-danger"
                    [routerLink]="['/admin/cohorte']"></button>
                </div>
                <div class="col">
                    <button type="Submit"   pButton icon="pi pi-check"label="Guardar" class="mr-2" ></button>
                </div>
            </div>
        </div>
	</div>
</form>
